{% extends 'base.html.twig' %}

{% block title %}Edit Question{% endblock %}

{% block body %}
    <h1 class="text-center bold my-4">Modifier Question</h1>

    {{ include('question/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_question_index') }}">back to list</a>

    {{ include('question/_delete_form.html.twig') }}
{% endblock %}
