{% extends 'base.html.twig' %}

{% block title %}Edit Question{% endblock %}

{% block body %}
<div class="d-flex flex-column">
    <h1 class="text-center bold my-4">Modifier Question</h1>

    {{ include('question/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <div class="text-center mt-2">
    {{ include('question/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
