{% extends 'base.html.twig' %}

{% block title %}Ajouter une question{% endblock %}

{% block body %}
    <h1 class="text-center bold my-4">Ajouter une question</h1>

    {{ include('question/_form.html.twig') }}

{% endblock %}
