{% extends 'base.html.twig' %}

{% block title %}New Reclamation{% endblock %}



{% block body %}
    
    
    <section id="reclamation-form" class="p_4 d-flex align-items-center justify-content-center min-vh-100">
    <div class="container-xl">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="mb-4 text-center">Create new Reclamation</h1>
                {{ include('reclamation/_form.html.twig') }}
            </div>
        </div>
    </div>
</section>



{% endblock %}
