<form method="post" action="{{ path('app_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" 
style="display:inline;" class="delete-comment-form" data-comment-id="{{ comment.id }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
     <div class="d-flex justify-content-end">
        <button type="submit" class="btn text-white bg_pink">Delete</button>
    </div>
</form>