{% extends 'baseBack.html.twig' %}

{% block title %}Nouveau Magasin{% endblock %}


{% block body %}

    <h1>Créer un nouveau magasin</h1>

    {{ include('magasin/_form.html.twig') }}
    
{% endblock %}
