{% extends 'base.html.twig' %}

{% block title %}Mettre à jour votre galerie - Artis{% endblock %}

{% block body %}


<div class="container mt-5">
    <h1 class="text-center">Mettre à jour votre Galerie</h1>
    {{ include('galerie/_form.html.twig', { form: form, button_label: 'Mettre à jour la Galerie' }) }}
    <a href="{{ path('app_galerie_index') }}">Retour à la liste</a>
</div>
{% endblock %}