{% extends 'baseBack.html.twig' %}

{% block title %}Nouveau article{% endblock %}

{% block body %}
    <h1>Créer un nouveau article</h1>

    {{ include('article/_form.html.twig') }}

    {# <a href="{{ path('app_article_index') }}">back to list</a> #}
{% endblock %}
